@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;500;700&display=swap');

html {
    scroll-behavior: smooth;
  }
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}

body{
    height: 100%;
    margin: 0; 
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    background-color: rgb(59, 59, 59);
}
.header{
    background-color: rgb(104, 104, 104);
    border-bottom: 1px solid rgb(167, 167, 167);
    height: 80px;
    padding: 10px;
}
.nav{
    display: grid;
    grid-template-columns: 400px auto;
    align-items: center;
    height: 80px;
}

.menu-btn{
    background-color: rgb(104, 104, 104);
    width: 50px;
    height: 33px;
    border-style: none;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}
.menu-btn span{
    width: 100%;
    height: 3px;
    border-radius: 20px;
    background-color: white;
}

.meLogo{
    max-width: 120px;
}
.menu{
    display: flex;
    gap: 0 50px;
}
.menu__list{
    font-size: 18px;
}
.top{
    min-height: calc(100vh -101px);
    background-image: url(../Image/photo/mount.JPG);
    background-color: rgba(41, 41, 41, 0.65) ;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.baner{
    display:grid;
    grid-template-columns: 500px auto;
    grid-template-rows: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
h1{
    font-size: 40px;
}
.photo{
    max-width: 350px;
}
.data{
    color: white;
}
.text {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    font-size: 15px;
}
.line{
    border-bottom: solid 1px rgb(167, 167, 167);
}
h3{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 25px;
}
.grid__colum{
    display: grid;
    grid-template-columns: 350px auto ;
}
.basic__information{
    height: 660px;
    background-color: rgb(106, 116, 124);
}
.grid__block{
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: repeat(4, 150px);
}
.grid__item{
    color: aliceblue;
    margin-top: 20px;
    margin-left: 40px;
}
.item{
    text-decoration: underline;
    font-size: 20px;
}
.info{
    font-size: 18px;
    line-height: normal;
}
h4{
    margin-top: 50px;
    margin-left: 80px;
    color: white;
    font-size: 26px;
}
.experience .line{
    margin-left: 20px;
}
.work{
    margin-left: 80px;
    color: white;
}
h5{
    margin-top: 50px;
    margin-left: 80px;
    color: white;
    font-size: 26px;
}
.study1{
    margin-left: 80px;
    margin-bottom: 20px;
    color: white;
}
.delimiter{
    font-size: 20px;
    font-weight: 700;
    margin-left: 150px;
    color: white;
}
.study2{
    margin-left: 80px;
    color: white;
}
h6{
    margin-top: 50px;
    text-align: center;
    color: white;
    font-size: 26px;
}
.addition{
    padding-bottom: 20px;
}
.addition .line{
    margin-top: -20px;
}
.flex__box{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.flex__item{
    color: white;
    font-size: 16px;

}
.point{
    font-weight: 400;
}
.pointMe{
    font-weight: 100;
}
.mySite{
    font-weight: 700;
    color: black;
    border-bottom: 1px solid white;
}
.block{
    padding-bottom: 10px;
}
.block:last-child{
    padding-bottom: 0px;
}
.photo2{
    max-width: 350px;
}
.line:last-child{
    padding-bottom: 0;
}
footer{
    background-color: black;
    min-height: 250px;
}
.myContact{
    padding-top: 10px;
    font-size: 26px;
    color: white;
    font-weight: 700;
}
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.contact__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 70px;
}
.grid__link{
    margin-bottom: 20px;
    margin-left: 50px;
}
.myLink .logo{
    width: 30px;
    padding-right: 10px;
}
.logo{
    vertical-align: middle;
}
.mail{
    grid-column: 4/-3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.mail--text{
    justify-self: end;
    align-self: start;
    margin: 0px 0px;
    color: white;
    font-size: 20px;
}
.myMail .logo{
    width: 30px;
    padding-left: 20px;
    padding-right: 10px;
}
@media (max-width:480px){
    body{
        width: 480px;
    }
    .nav{
        grid-template-columns: 1fr 1fr;
    }
    .menu-btn{
        display: flex;
        justify-self: end;
        margin-right: 10%;
    }
    .menu{
        transform: translateY(-120%);
        transition: transform 1s;
        padding-top: 25px 0;
        position: absolute;
        background-color: black;
        left: 0;
        right: 0;
        max-width: 480px;
        padding: 30px 40px;
        display: flex;
        gap: 40px 50px;
        flex-direction: column;
        margin-top: 100px
    }
    .menu.menu--active{
        top: 1px;
        transform: translateY(0%);
    }
    li.menu__list{
        font-size: 16px;
    }
    .top{
        text-align: left;
        padding-left: 8%;
    }
    h1{
        font-size: 30px;
        margin: 40px 0px;
    }
    .baner{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 526px auto;
        padding-top: 80px;
        padding-bottom: 50px;
        margin-left: 5%;
    }
    .text{
        max-width: 360px;
    }
    .grid__colum{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .basic__information{
        width: 325px;
        margin: 0 auto;
    }
    .item{
        font-size: 18px;
    }
    .info{
        font-size: 16px;
        line-height: normal;
    }
    .experience{
        margin: 0 auto;
    }
    .experience .line{
        margin-left: 0px;
    }
    h4{
        margin: 10% 28%;
    }
    .work{
        margin: 10% 10%;
    }
    h5{
        margin: 10% 20%;
    }
    .study1{
        margin: 10% 10%;
    }
    .study2{
        margin: 10% 10%;
    }
    h6 {
        margin: 10% 10%;
    }
    .flex__box{
        flex-direction: column;
        max-width: 360px;
        margin: 0 auto;
    }
    .mySite{
        margin: 15%;
    }
    .photo2{
        margin-top: 30px;
    }
    .footer{
        min-height: 300px;
        max-width: 480px;
    }
    .myContact{
        padding-left: 18%;
    } 
    .contact{
        margin-top: 10px;
        grid-template-columns: 1fr 1fr;
    }   
    .contact__grid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 70px 70px;
    }
}